{% block sw_cms_element_product_listing_config_layout_select_options %}
    {% parent %}
    <option value="tweakwise">
        {{ $tc('sw-cms.elements.productBox.config.label.layoutTypeTweakwise') }}
    </option>
{% endblock %}
