{% block rhae_tweakwise_feed_list %}
    <sw-page class="rhae-tweakwise-feed-list">
        {% block rhae_tweakwise_feed_list_smart_bar_header %}
            <template slot="smart-bar-header">
                {% block rhae_tweakwise_feed_list_smart_bar_header_title %}
                    <h2>
                        {% block rhae_tweakwise_feed_list_smart_bar_header_title_text %}
                            {{ $tc('sw-settings.index.title') }} <sw-icon name="small-arrow-medium-right" small></sw-icon> {{ $tc('rhae-tweakwise-feed.main.menuLabel') }}
                        {% endblock %}
                    </h2>
                {% endblock %}
            </template>
        {% endblock %}

        {% block rhae_tweakwise_feed_list_smart_bar_actions %}
            <template slot="smart-bar-actions">
                <sw-button variant="primary" :routerLink="{ name: 'rhae.tweakwise.feed.create' }">
                    {{ $t('rhae-tweakwise-feed.list.addButtonText') }}
                </sw-button>
            </template>
        {% endblock %}

        <template slot="content">
            {% block rhae_tweakwise_feed_list_content %}
                <sw-entity-listing
                    v-if="feed"
                    :items="feed"
                    :repository="repository"
                    :showSelection="false"
                    :columns="columns"
                    detailRoute="rhae.tweakwise.feed.detail">
                </sw-entity-listing>
            {% endblock %}
        </template>
    </sw-page>
{% endblock %}
