<sw-page class="rhae-tweakwise-feed-list">
    <template #smart-bar-header>
        <h2>
            {{ $tc('rhae-tweakwise-feed.main.menuLabel') }}
        </h2>
    </template>

    <template #smart-bar-actions>
        <sw-button
            variant="primary"
            size="default"
            :routerLink="{ name: 'rhae.tweakwise.feed.create' }"
        >
            {{ $tc('rhae-tweakwise-feed.list.addButtonText') }}
        </sw-button>
    </template>

    <template #content>
        <sw-entity-listing
            v-if="items"
            :items="items"
            :repository="repository"
            :showSelection="true"
            :columns="columns"
            detailRoute="rhae.tweakwise.feed.detail"
            @select-item="updateSelection"
            @update-records="updateTotal"
        >
            <template #column-type="{ item }">
                {{ $tc('rhae-tweakwise-feed.detail.label.typeOptions.' + item.type) }}
            </template>

            <template #column-domains="{ item }">
                <template v-for="(domain, index) in item.salesChannelDomains">
                    {{ domain.url }}
                    <span v-if="index < (item.salesChannelDomains.length - 1)">
                        <br/>
                    </span>
                </template>
            </template>

            <template #column-lastGeneratedAt="{ item }">
                <sw-time-ago :date="item.lastGeneratedAt"/>
            </template>
        </sw-entity-listing>
    </template>
</sw-page>