<sw-page class="rhae-tweakwise-feed-list">
    <template #smart-bar-header>
        <h2>
            {{ $tc('rhae-tweakwise-feed.main.menuLabel') }}
        </h2>
    </template>

    <template #smart-bar-actions>
        <sw-button variant="primary" :routerLink="{ name: 'rhae.tweakwise.feed.create' }">
            {{ $tc('rhae-tweakwise-feed.list.addButtonText') }}
        </sw-button>
    </template>

    <template #content>
        <sw-entity-listing
            v-if="items"
            :items="items"
            :repository="repository"
            :showSelection="true"
            :columns="columns"
            detailRoute="rhae.tweakwise.feed.detail"
            @select-item="updateSelection"
            @update-records="updateTotal">
            <template #more-actions="{ item }">
                <sw-context-menu-item @click="onDuplicate(item)">
                    {{ $tc('sw-product.list.buttonDuplicate') }}
                </sw-context-menu-item>
            </template>
        </sw-entity-listing>
    </template>
</sw-page>
