@import "~scss/variables";

.rhae-tweakwise-frontend-detail {
    .sw-card .sw-card__content {
        padding-top: 0;
    }

    .sw-card-section {
        padding: 30px 0;

        &--secondary {
            padding: 0;
        }
    }

    .backendSyncOptions {
        h4 {
            margin: var(--scale-size-20) 0 var(--scale-size-10) 0;
        }

        .mt-field--checkbox__container {
            margin-bottom: var(--scale-size-8);
        }
    }
}

rhae-tweakwise-frontend__card-toolbar {
    row-gap: 25px;

    &-heading {
        font-weight: 600;
    }
}
