@import "~scss/variables";

.rhae-tweakwise-frontend-detail {
    .sw-card-section {
        padding: 0;

        &--secondary {
            padding: 0;
        }
    }

    .backendSyncOptions {
        h4 {
            margin: 1.25rem 0 .625rem 0;
            font-weight: bold;
            font-size: 1rem;
        }

        .sw-field--checkbox, .mt-field--checkbox__container {
            margin-bottom: .5rem;
        }
    }
}

rhae-tweakwise-frontend__card-toolbar {
    row-gap: 25px;

    &-heading {
        font-weight: 600;
    }
}
