{% block sw_cms_element_tweakwise_attribute_landing_page %}
    <div class="sw-cms-el-tweakwise-attribute-landing-page">
        <sw-cms-product-box-preview/>
        <sw-cms-product-box-preview/>
        <sw-cms-product-box-preview/>
        <sw-cms-product-box-preview/>
        <sw-cms-product-box-preview/>
        <sw-cms-product-box-preview/>
        <sw-cms-product-box-preview/>
        <sw-cms-product-box-preview/>
    </div>
{% endblock %}