.sw-cms-component-tweakwise-attribute-landing-page {
  align-items: start;
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-gap: 5px;
  padding: 15px;

  .sw-cms-component-tweakwise-attribute-landing-page__product-box {
    align-items: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 20px 5px;
    height: 100%;
  }
  .sw-cms-el-category-placeholder-listing div,
  .sw-cms-el-category-placeholder-listing div.sw-cms-el-category-navigation__placeholder--subcategory
  {
    margin: 5px 10px;
    height: 1em;
    border-radius: 4px;
    background-color: #f0f2f5
  }

  .sw-cms-el-category-placeholder-listing div.sw-cms-el-category-navigation__placeholder--subcategory {
    margin: 5px 10px 5px 20px
  }

  hr {
    margin: 10px auto !important;
    border-width: 2px !important;
  }
}
