@import "~scss/variables";

.rhae-tweakwise-feed-detail {
    .sw-card .sw-card__content {
        padding-top: 0;
    }

    .sw-card-section {
        padding: 30px 0;

        &--secondary {
            padding: 0;
        }
    }
}

.rhae-tweakwise-feed__card-toolbar {
    row-gap: 25px;

    &-heading {
        font-weight: 600;
    }
}
