<sw-page class="rhae-tweakwise-feed-detail">
    <template slot="smart-bar-actions">
        <sw-button :routerLink="{ name: 'rhae.tweakwise.feed.list' }">
            {{ $t('rhae-tweakwise-feed.detail.cancelButtonText') }}
        </sw-button>

        <sw-button-process
                :isLoading="isLoading"
                :processSuccess="processSuccess.general"
                variant="primary"
                @process-finish="saveFinish"
                @click="onClickSave">
            {{ $t('rhae-tweakwise-feed.detail.saveButtonText') }}
        </sw-button-process>
    </template>

    <template slot="content">
        <sw-card-view>
            <sw-card v-if="item" :isLoading="isLoading" :title="$tc('rhae-tweakwise-feed.detail.section.main')">
                <sw-card-section
                    slot="toolbar"
                    :secondary="true"
                >
                    <sw-container
                        class="rhae-tweakwise-feed__card-toolbar"
                        columns="1fr 1fr"
                    >
                            <div>
                                <p class="rhae-tweakwise-feed__card-toolbar-heading">
                                    {{ $t('rhae-tweakwise-feed.detail.label.feedUrl') }}
                                </p>
                                <p>{{ item.salesChannelDomains[0].url }}/tweakwise/feed-{{item.id}}.xml</p>
                            </div>
                            <div>
                                <p class="rhae-tweakwise-feed__card-toolbar-heading">
                                    {{ $t('rhae-tweakwise-feed.detail.label.lastGeneratedAt') }}
                                </p>
                                <p>{{ item.lastGeneratedAt|date("d-m-Y H:i") }}</p>
                            </div>
                    </sw-container>


                </sw-card-section>

                <sw-card-section divider="bottom">
                    <sw-field :label="$t('rhae-tweakwise-feed.detail.label.name')"
                              v-model="item.name"
                              required validation="required" ></sw-field>

                    <sw-entity-multi-select
                        :label="$t('rhae-tweakwise-feed.detail.label.salesChannelDomains')"
                        labelProperty="url"
                        value-property="id"
                        v-model="item.salesChannelDomains"
                    />
                </sw-card-section>

                <div style="display: none">
                <sw-card-section>
                    <sw-container
                        align="center"
                        columns="1fr auto"
                        gap="20px"
                    >
                        <div>

                            {% block sw_settings_cache_content_clear_and_warm_up_cache_row_heading %}
                                <p class="sw-settings-cache__card-section-heading">
                                    {{ $tc('rhae-tweakwise-feed.generate.heading') }}
                                </p>
                            {% endblock %}

                            {% block sw_settings_cache_content_clear_and_warm_up_cache_row_text %}
                                <p>{{ $tc('rhae-tweakwise-feed.generate.text') }}</p>
                            {% endblock %}
                        </div>

                        {% block sw_settings_cache_content_clear_and_warm_up_cache_row_button %}
                            <sw-button-process
                                variant="ghost"
                                :is-loading="processes.generateFeed"
                                :process-success="processSuccess.generateFeed"
                                @process-finish="resetButtons"
                                @click="generateFeed"
                            >
                                {{ $tc('rhae-tweakwise-feed.generate.button') }}
                            </sw-button-process>
                        {% endblock %}
                    </sw-container>
                </sw-card-section>
            </sw-card>
            </div>
        </sw-card-view>
    </template>

</sw-page>
