<sw-page class="rhae-tweakwise-feed-detail">
    <template #smart-bar-actions>
        <sw-button @click="getItem">
            <sw-icon name="regular-undo" />
        </sw-button>

        <sw-button :routerLink="{ name: 'rhae.tweakwise.feed.list' }">
            {{ $t('rhae-tweakwise-feed.detail.cancelButtonText') }}
        </sw-button>

        <sw-button-process
                :isLoading="isLoading"
                :processSuccess="processSuccess.general"
                variant="primary"
                @process-finish="saveFinish"
                @click="onClickSave">
            {{ $t('rhae-tweakwise-feed.detail.saveButtonText') }}
        </sw-button-process>
    </template>

    <template #content>
        <sw-card-view>
            <sw-card v-if="item" :isLoading="isLoading" :title="$tc('rhae-tweakwise-feed.detail.section.main')">
                <sw-card-section v-if="item.salesChannelDomains[0]" divider="bottom">
                    <sw-container columns="1fr" gap="30px" style="margin-bottom: 1rem;">
                        <div>
                            <p class="rhae-tweakwise-feed__card-toolbar-heading">
                                {{ $t('rhae-tweakwise-feed.detail.label.feedUrl') }}
                            </p>

                            <p>{{ item.salesChannelDomains[0].url }}/tweakwise/feed-{{item.id}}.xml</p>
                        </div>
                    </sw-container>
                    <sw-container
                        class="rhae-tweakwise-feed__card-toolbar"
                        columns="repeat(3, 1fr)"
                    >
                            <div>
                                <p class="rhae-tweakwise-feed__card-toolbar-heading">
                                    {{ $t('rhae-tweakwise-feed.detail.label.lastGeneratedAt') }}
                                </p>
                                <p v-if="item.lastGeneratedAt"><sw-time-ago :date="item.lastGeneratedAt" /></p>
                                <p v-else>-</p>
                            </div>
                            <div>
                                <p class="rhae-tweakwise-feed__card-toolbar-heading">
                                    {{ $t('rhae-tweakwise-feed.detail.label.nextGenerationAt') }}
                                </p>
                                <p v-if="item.nextGenerationAt">{{ dateFilter(item.nextGenerationAt, { hour: '2-digit', minute: '2-digit' }) }}</p>
                                <p v-else>{{ $t('rhae-tweakwise-feed.detail.label.withinOneMinute') }}</p>
                                <sw-button size="small" style="margin-top: 1rem;" @click="generateFeedNow" :isLoading="isLoading">
                                    {{ $t('rhae-tweakwise-feed.detail.label.generateNow') }}
                                </sw-button>
                            </div>
                            <div>
                                <p class="rhae-tweakwise-feed__card-toolbar-heading">
                                    {{ $t('rhae-tweakwise-feed.detail.label.status') }}
                                </p>
                                <p>{{ $tc(`rhae-tweakwise-feed.detail.label.statusOption.${item.status}`) }}</p>
                            </div>
                    </sw-container>

                </sw-card-section>

                <sw-card-section>
                    <sw-text-field :label="$t('rhae-tweakwise-feed.detail.label.name')"
                              v-model:value="item.name"
                              required validation="required" ></sw-text-field>

                    <sw-entity-multi-select
                        :label="$t('rhae-tweakwise-feed.detail.label.salesChannelDomains')"
                        labelProperty="url"
                        value-property="id"
                        v-model:entityCollection="item.salesChannelDomains"
                    />

                    <sw-boolean-radio-group
                        v-model:value="item.includeHiddenCategories"
                        :label="$t('rhae-tweakwise-feed.detail.label.includeHiddenCategories')"
                        :label-option-true="$t('rhae-tweakwise-feed.detail.label.includeHiddenCategoriesTrue')"
                        :label-option-false="$t('rhae-tweakwise-feed.detail.label.includeHiddenCategoriesFalse')"
                    >
                    </sw-boolean-radio-group>

                    <sw-select-field :label="$t('rhae-tweakwise-feed.detail.label.interval')"
                                     v-model:value="item.interval">
                        <option v-for="value in [60,360,720,1440]" :value="value">
                            {{ $tc('rhae-tweakwise-feed.detail.label.intervalOptions.' + value) }}
                        </option>
                    </sw-select-field>

                    <p>{{ $tc(`rhae-tweakwise-feed.detail.label.intervalDescription`) }}</p>
                </sw-card-section>
            </sw-card>
        </sw-card-view>
    </template>

</sw-page>
