{% block sw_cms_block_tweakwise_featured_products_preview %}
    <div class="sw-cms-preview-tweakwise-cross-selling">
        <sw-icon
                name="regular-chevron-left"
                size="20"
        />
        <div class="sw-cms-preview-tweakwise-cross-selling__product-box">
            <sw-cms-product-box-preview />
            <sw-cms-product-box-preview />
        </div>
        <sw-icon
                name="regular-chevron-right"
                size="20"
        />
    </div>
{% endblock %}
