{% sw_extends '@Storefront/storefront/base.html.twig' %}

{% block base_main %}
    {% set wayOfSearch = page.extensions.twConfiguration.wayOfSearch|escape %}

    <div id="tweakwise-output" class="tweakwise-{{ wayOfSearch }}">
        {{ parent() }}
    </div>
{% endblock %}

{% block base_esi_header %}
    {% set headerParameters = headerParameters|merge({'tweakwiseIntegration': page.extensions.twConfiguration.integration, 'tweakwiseWayOfSearch': page.extensions.twConfiguration.wayOfSearch})  %}

    {{ parent() }}
{% endblock %}