{% sw_extends '@Storefront/storefront/element/cms-element-product-listing.html.twig' %}

{% block element_product_listing %}

    {% if element.translated.config.boxLayout.value == 'tweakwise' %}

        {% if (page.extensions.twConfiguration.integration == 'javascript' || page.extensions.twConfiguration.integration == 'pluginstudio' ) and page.extensions.twConfiguration.instanceKey|escape('js')%}
            {% if page.extensions.twConfiguration.fullPathCid and page.category %}
                {% set cid = tw_convert_category_path(page.category.path, page.extensions.twConfiguration.rootCategoryId, page.navigationId, context.domainId) %}
            {% elseif page.extensions.twConfiguration.fullPathCid and page.header.navigation.active %}
                {% set cid = tw_convert_category_path(page.header.navigation.active.path ~ '', page.extensions.twConfiguration.rootCategoryId, page.navigationId, context.domainId) %}
            {% else %}
                {% set cid = md5(page.navigationId ~ '_' ~ context.domainId) %}
            {% endif %}

            <script>
                window["twn-starter-config"].navigation = window["twn-starter-config"].navigation || {};
                window["twn-starter-config"].navigation.output = window["twn-starter-config"].navigation.output || 'tweakwise-output-listing';
                window["twn-starter-config"].navigation.cid = '{{ cid }}';
                window["twn-starter-config"].parameters = "visibility=2%7C4";
            </script>

            <div id="tweakwise-output-listing"></div>
        {% else %}
            {% set boxLayout = 'standard' %}
            {{ parent() }}
        {% endif %}
    {% else %}
        {% set boxLayout = element.translated.config.boxLayout.value %}
        {{ parent() }}
    {% endif %}
{% endblock %}

{% block element_product_listing_wrapper %}
    {% sw_include '@Storefront/storefront/component/product/listing.html.twig' with {
        searchResult: searchResult,
        dataUrl: dataUrl,
        filterUrl: filterUrl,
        params: params,
        sidebar: sidebar,
        boxLayout: boxLayout,
        displayMode: element.translated.config.displayMode.value,
        listingColumns: listingColumns
    } %}
{% endblock %}
