{% block sw_cms_block_tweakwise_featured_products %}
    <div class="sw-cms-block-tweakwise-featured-products">
        <slot name="products">{% block sw_cms_block_tweakwise_featured_products_products %}{% endblock %}</slot>
    </div>
{% endblock %}