{% block sw_cms_element_tweakwise_attribute_landing_page_preview %}
    <div class="sw-cms-el-preview-tweakwise-attribute-landing-page">
        <sw-icon
            name="regular-chevron-left"
            size="10"
        />
        <sw-cms-product-box-preview :has-text="false"/>
        <sw-icon
            name="regular-chevron-right"
            size="10"
        />
    </div>
{% endblock %}