{% sw_extends '@Storefront/storefront/base.html.twig' %}

{% block base_content %}
    {% if page.extensions.twConfiguration.integration == 'javascript' or page.extensions.twConfiguration.integration == 'pluginstudio' %}
        <script>
            window["twn-starter-config"]["output"] = 'tweakwise-output-listing';
            window["twn-starter-config"].parameters = "visibility=3%7C4";
        </script>
    {% endif %}

    <div id="tweakwise-output-listing"></div>

    {% if page.extensions.twConfiguration.eventTagEnabled %}
    <script>
        window.addEventListener('twSuccess', function (e) {
            const searchTerm = e?.detail?.data?.properties?.searchterm;
            if (searchTerm === undefined) {
                return;
            }

            (async () => {
                if (!window.tweakwise || typeof window.tweakwise.getProfileKey !== 'function') {
                    return;
                }

                const profileKey = await window.tweakwise.getProfileKey();

                window.tweakwiseLayer = window.tweakwiseLayer || [];
                window.tweakwiseLayer.push({
                    event: 'search',
                    data: {
                        profileKey: profileKey,
                        searchTerm: searchTerm
                    }
                });
            })();
        });
    </script>
    {% endif %}
{% endblock %}
