{% sw_extends '@Storefront/storefront/base.html.twig' %}

{% block base_content %}
    {% if page.extensions.twConfiguration.integration == 'javascript' or page.extensions.twConfiguration.integration == 'pluginstudio' %}
        <script>
            window["twn-starter-config"]["output"] = 'tweakwise-output-listing';
            window["twn-starter-config"].parameters = "visibility=3%7C4";
        </script>
    {% endif %}

    <div id="tweakwise-output-listing"></div>
{% endblock %}
