{% block sw_cms_block_tweakwise_cross_selling %}
    <div class="sw-cms-block-tweakwise-cross-selling">
        <slot name="products">{% block sw_cms_block_tweakwise_cross_selling_products %}{% endblock %}</slot>
    </div>
{% endblock %}