{% block sw_cms_element_tweakwise_featured_products %}
    <div class="sw-cms-el-tweakwise-featured-products">
        <sw-icon
                name="regular-chevron-left"
                size="10"
        />
        <sw-cms-product-box-preview />
        <sw-cms-product-box-preview />
        <sw-cms-product-box-preview />
        <sw-cms-product-box-preview />
        <sw-icon
                name="regular-chevron-right"
                size="10"
        />
    </div>
{% endblock %}
