.sw-cms-el-tweakwise-featured-products {
  align-items: center;
  display: grid;
  grid-template-columns: 10px 1fr 1fr 1fr 1fr 10px;
  grid-gap: 5px;
  height: 100%;

  .sw-cms-product-box-preview.has--text {
	grid-template-rows: 140px 70px 26px;
  }

  .sw-cms-product-box-preview .sw-cms-product-box-preview__image {
	height: 100%;
  }

  img {
	margin: 0;
	display: block;
	max-width: 100%;
  }
}
