{% block sw_cms_sidebar_block_overview_category_options %}
    {% block sw_cms_sidebar_block_overview_category_tweakwise %}
        <option value="tweakwise">
            {{ $tc('sw-cms.component.sw-cms-sidebar.blockTweakwise') }}
        </option>
    {% endblock %}

    {% parent() %}
{% endblock %}