{% sw_extends '@Storefront/storefront/block/cms-block-product-listing.html.twig' %}

{% block block_product_listing %}
    {% if page.extensions.customFields.rh_tweakwise_integration_type == 'js-basic' %}
        <script>
            window["twn-starter-config"]["navigation"]["output"] = 'tweakwise-output-listing';
            window["twn-starter-config"]["navigation"]["cid"] = '{{ page.navigationId }}';
        </script>

        <div id="tweakwise-output-listing"></div>
    {% else %}
        {{ parent() }}
    {% endif %}
{% endblock %}
