{% set element = block.slots.getSlot('attributeLandingPage') %}
<h2>Attribute Landing Page</h2>
<div class="col-12" data-cms-element-id="{{ element.id }}">
    {% sw_include "@Storefront/storefront/element/cms-element-" ~ element.type ~ ".html.twig" ignore missing %}
</div>
