{% block sw_cms_block_tweakwise_attribute_landing_page %}
    <div class="sw-cms-block-tweakwise-attribute-landing-page">
        <slot name="attributeLandingPage">{% block sw_cms_block_tweakwise_attribute_landing_page_content %}{% endblock %}</slot>
    </div>
{% endblock %}