name: Static analysis

on: [push, pull_request]

jobs:
  build:
    name: Build PHP
    runs-on: ${{ matrix.os }}

    strategy:
      max-parallel: 6
      fail-fast: false
      matrix:
        os: ['ubuntu-latest']
        php: ['8.2', '8.3']
        experimental: [false]
        dependencies: ['lowest', 'highest']
        include:
          - os: 'ubuntu-20.04'
            php: '8.1'
            experimental: false
            dependencies: highest

    continue-on-error: ${{ matrix.experimental }}

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up PHP Version
        uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ matrix.php }}
          extensions: mbstring, intl
          ini-values: post_max_size=256M, max_execution_time=180

      - name: Update Composer
        run: |
          sudo composer self-update
          composer --version
          composer config --no-plugins allow-plugins.symfony/runtime true

      - name: Install lowest dependencies with composer
        if: matrix.dependencies == 'lowest'
        run: composer update --no-ansi --no-interaction --no-progress --prefer-lowest

      - name: Install highest dependencies with composer
        if: matrix.dependencies == 'highest'
        run: composer update --no-ansi --no-interaction --no-progress

      - name: PHPStan
        run: |
          php -d memory_limit=-1 vendor/bin/phpstan analyse --configuration phpstan.neon --debug

      - name: CGL
        if: matrix.dependencies == 'highest' && matrix.php == '8.3'
        run: |
          php -d memory_limit=-1 vendor/bin/php-cs-fixer fix --config=.php-cs-fixer.php --dry-run --using-cache=no --diff

      - name: PHP linting
        run: |
          php -d memory_limit=-1 vendor/bin/phplint --configuration=.phplint.yml
