name: Static analysis

on: [push, pull_request]

jobs:
  build:
    name: Build PHP
    runs-on: ${{ matrix.os }}
    container:
      image: php:${{ matrix.php }}
    strategy:
      max-parallel: 6
      fail-fast: false
      matrix:
        os: ['ubuntu-latest']
        php: ['8.1', '8.2', '8.3']
        experimental: [false]
        dependencies: ['lowest', 'highest']
        include:
          - os: 'ubuntu-20.04'
            php: '8.0'
            experimental: false
            dependencies: highest
          - os: 'ubuntu-20.04'
            php: '8.1'
            experimental: false
            dependencies: highest

    continue-on-error: ${{ matrix.experimental }}

    steps:
      - uses: actions/checkout@v3

      - name: Update Composer
        run: |
          sudo composer self-update
          composer --version
          composer config --no-plugins allow-plugins.symfony/runtime true

      - name: Install lowest dependencies with composer
        if: matrix.dependencies == 'lowest'
        run: composer update --no-ansi --no-interaction --no-progress --prefer-lowest

      - name: Install highest dependencies with composer
        if: matrix.dependencies == 'highest'
        run: composer update --no-ansi --no-interaction --no-progress

      - name: PHPStan
        run: |
          php -d memory_limit=-1 vendor/bin/phpstan analyse --configuration phpstan.neon --debug
