{% block sw_cms_element_tweakwise_cross_selling %}
    <div class="sw-cms-el-tweakwise-cross-selling">
        <img :src="tweakwiseIcon" class="sw-cms-el-tweakwise-cross-selling__overlay-icon" alt="" />
        <div class="sw-cms-el-tweakwise-cross-selling__content">
            <div class="sw-cms-el-tweakwise-cross-selling__navigation">
                <sw-icon
                        class="sw-cms-el-tweakwise-cross-selling__navigation-button"
                        name="regular-chevron-left"
                        size="24"
                />
            </div>

            <div class="sw-cms-el-cross-selling__product-holder">
                <sw-cms-product-box-preview/>
                <sw-cms-product-box-preview/>
                <sw-cms-product-box-preview/>
                <sw-cms-product-box-preview/>
            </div>

            <div class="sw-cms-el-tweakwise-cross-selling__navigation">
                <sw-icon
                        class="sw-cms-el-tweakwise-cross-selling__navigation-button"
                        name="regular-chevron-right"
                        size="24"
                />
            </div>
        </div>
    </div>
{% endblock %}
